.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url('./assets/images/3.jpg') no-repeat center;
    background-size: cover;
    @mixin atMedium {
        height: 100vh;
    }

    &__all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin-left: 1.5rem;
        margin-right: .5rem;

        @mixin atMedium {
            margin: 0 10rem;
            padding: 2.5rem;
        }
    }

    &__title {
        font-size: 1.4rem;
        color: $black;
        margin-top: 2rem;
        line-height: 1.5;
        @mixin atMedium {
            text-align: center;
            font-size: 2.7rem;
            margin-top: 4rem;
            line-height: 1.5;
        }
        
    }

    &__img {
        width: 270px;
        @mixin atMedium {
            width: 450px;
        }
        animation: upDown 1000ms infinite;
    }

    @keyframes upDown {
        0% {
            transform: translateY(-1rem)
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-1rem);
        }
    }
}