.render {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(45deg, #005061, $black, #005061);
  }
  
  .render-item {
    width: 100%;
    object-fit: cover;
    flex: auto;
    @mixin atMedium {
        flex: 1;
    }
  }