.services {
    background: linear-gradient(180deg, $black, #005061, $black);
    color: $white;
    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__item {
        background: url('./assets/images/2.jpg') no-repeat center;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
        }        
        place-items: center;
        margin-bottom: 3rem;
        background-color: $black;        

        div {
            flex: auto;

            @mixin atMedium {
                flex: 1;
            }
        }
    }

    &__img {
        @mixin forSmall {
            order: 1;
        }

        @mixin atMedium {
            padding: 3rem;
        }
    }

    &__desc {  
        @mixin forSmall {
            order: 2;
        }
        padding: 1rem;
        @mixin atMedium {
            padding: 3rem;
        }

        h3 {
            font-size: 1.50rem;
            text-transform: capitalize;
            color: #005061;
            @mixin forSmall {
                font-size: 1.25rem;
                text-align: center;
            }
        }

        p {
            color: $black;
        }
    }
}