.welcome {
    background: linear-gradient(45deg, #005061, $black, #005061);
    color: $white; 

    &__desc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div {
            flex: auto;
            @mixin atMedium {
                flex: 1;
            }
        }
    }

    h2 {
        line-height: 1.5;
    }

    p,img {
        margin-bottom: 2rem;
        @mixin atMedium {
            padding: 1rem;
            margin-bottom: 0;
        }
    }
}